<!DOCTYPE html>
<html lang="en">
<head>
{{> partial/head }}
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            {{> partial/nav }}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    {{ search_title }}
                </h1>
                <h2 class="subtitle">
                    {{ search_subtitle }}
                </h2>
                {{> partial/search_form }}
                <div class="hero-foot">
                </div>
            </div>
        </div>
    </section>
{{> partial/js_bottom }}
</body>
</html>
