<!DOCTYPE html>
<html lang="en">
<head>
{{> partial/head }}
</head>
<body>
    <section class="hero">
        <div class="hero-head">
            {{> partial/nav }}
        </div>
    </section>

    <section class="hero is-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    {{ search_title }}
                </h1>
                <h2 class="subtitle">
                    {{ search_subtitle }}
                </h2>
                {{> partial/search_form }}
            </div>
        </div>
    </section>

    <section class="section" id="results">
        <div class="columns is-multiline is-centered">
            <div class="column is-full">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Search Results
                    </h1>
                    <h2 class="subtitle">
                        Showing recipes {{ pagination_start }} to {{ pagination_end }} (Out of {{ pagination_max }})
                    </h2>
                </div>
            </div>
            <div class="column is-half">
                <div class="content">
                    {{#recipes}}{{> partial/recipe }}{{/recipes}}
                    <nav class="pagination" role="navigation">
                        <a class="pagination-previous" {{#pagination_prev_href}}href="{{.}}"{{/pagination_prev_href}}{{^pagination_prev_href}}disabled{{/pagination_prev_href}}>Previous page</a>
                        <a class="pagination-next" {{#pagination_next_href}}href="{{.}}"{{/pagination_next_href}}{{^pagination_next_href}}disabled{{/pagination_next_href}}>Next page</a>
                        <ul class="pagination-list"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

{{> partial/js_bottom }}
</body>
</html>
