@charset "utf-8";

$purple: hsl(268, 45%, 30%);
$dark-purple: hsl(269, 49%, 21%);
$orange: hsl(13, 87%, 61%);
$dark-orange: hsl(13, 87%, 30%);
$pink: hsl(321, 60%, 52%);
$gray: hsl(0, 0%, 86%);
$light-gray: hsl(0, 0%, 40%);
$dark-gray: hsl(0, 0%, 29%);
$white: hsl(0, 0%, 98%);

$info: $purple;
$primary: $orange;
$danger: $pink;
$dark: $dark-purple;

$link: $orange;
$link-hover: $dark-orange;

$navbar-background-color: $dark-purple;
$navbar-item-color: $gray;
$menu-item-active-color: $dark-gray;
$menu-item-active-background-color: $gray;

$box-padding: 0.75rem;
$box-shadow: 0;

// Disable unused breakpoints
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../node_modules/bulma/bulma.sass";

.hero.is-info h1.title a {
  color: $white;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
}

.recipe-meta-item {
  display:inline;
  padding-right: 0.75rem;
}

.recipe-meta-item a {
  margin-left: -0.75rem;
}

.mb-025 {
  margin-bottom:0.25rem !important;
}

.mb-050 {
  margin-bottom:0.5rem !important;
}

.mt-150 {
  margin-top:1.5rem !important;
}

nav.navbar div.navbar-item p a.author {
  color: $pink;
}

nav.navbar div.navbar-item p a.author:hover {
  color: $orange;
}

.box:not(:last-child) {
  margin-bottom: 0.25rem;
}

.content pre {
  margin-left: 2rem;
  padding-left: 0.5rem;
  border-left: 0.5rem solid $purple;
}

.content ul.toc li {
  margin-top: 0;
}

.content ul.toc li ul {
  margin-top: 0;
}

.svgdefinition {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

ul.menu-list a[disabled] {
  cursor: not-allowed;
  color: $light-gray;
}

span.menu-item-count {
  float: right;
  color: $light-gray;
  margin-left: 1rem;
}

.has-valign-middle {
  vertical-align: middle;
}

article.media div.media-content a:visited {
  color: $dark-orange;
}
