@charset "utf-8";

$purple: hsl(268, 45%, 34%);
$dark-purple: hsl(269, 49%, 21%);
$orange: hsl(13, 87%, 61%);
$pink: hsl(321, 60%, 52%);
$gray: hsl(0, 0%, 86%);
$dark-gray: hsl(0, 0%, 29%);
$white: hsl(0, 0%, 98%);

$info: $purple;
$primary: $orange;
$link: $orange;
$danger: $pink;
$dark: $dark-purple;

$navbar-background-color: $dark-purple;
$navbar-item-color: $gray;
$menu-item-active-color: $dark-gray;
$menu-item-active-background-color: $gray;

$box-padding: 0.75rem;
$box-shadow: 0;

@import "../node_modules/bulma/bulma.sass";

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
}

.icon-subtitle {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: center;
}

.recipe-meta-item {
  display:inline;
  padding-right: 0.75rem;
}

.recipe-meta-item a {
  margin-left: -0.75rem;
}

.mb-025 {
  margin-bottom:0.25rem !important;
}

.mb-050 {
  margin-bottom:0.5rem !important;
}

.mt-150 {
  margin-top:1.5rem !important;
}

nav.navbar div.navbar-item p a.author {
  color: $pink;
}

nav.navbar div.navbar-item p a.author:hover {
  color: $orange;
}

.box:not(:last-child) {
  margin-bottom: 0.25rem;
}
