<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" title="{{ site_title }}">
                <h1>{{ site_title }}</h1>
            </a>
            <span class="navbar-burger burger" data-target="navigationMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navigationMenu" class="navbar-menu">
            <div class="navbar-end">
            {{#nav}}
                <a href="{{ href }}" class="navbar-item {{#is_active}}is-active{{/is_active}}">
                    {{ text }}
                </a>
            {{/nav}}
            </div>
        </div>
    </div>
</nav>
