@import co.caio.tablier.model.*

@args (SiteInfo site, RockerBody content)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@site.title() - gula.recipes</title>
    <meta name="description" content="@site.description()">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    @content

  <footer class="has-background-dark">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-start">
          <a class="navbar-item has-text-centered" href="#">Back to the Top</a>
          <a class="navbar-item has-text-centered" href="#">About</a>
          <a class="navbar-item has-text-centered" href="#">Help</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-text-centered">
            <p>Made with hunger by <a class="author" href="https://caio.co">Caio Romão</a></p>
          </div>
        </div>
      </nav>
    </div>
  </footer>

  </body>
</html>
