@import co.caio.tablier.model.*
@import co.caio.tablier.view.base
@import co.caio.tablier.view.searchform

@args (SiteInfo site, ErrorInfo error)

@base.template(site) -> {
<section class="hero is-fullheight is-info">
  <div class="hero-body">
    <div class="container has-text-centered">

      @if (site.isUnstable()) {
      <div class="notification is-warning">
        <p>We are experiencing performance degradation due to unexpectedly high traffic.<br>The search functionality has been <em>temporarily</em> disabled. Please try again in a few minutes.</p>
      </div>
      }

      <div class="notification is-danger">
        <p><strong>@error.title()</strong>: @error.subtitle()</p>
      </div>

      <h1 class="title">
        gula.recipes
      </h1>
      <h2 class="subtitle">
        Over a million delicious recipes, zero ads.
      </h2>
      @searchform.template(site)
      <div class="hero-foot">
      </div>
    </div>
  </div>
</section>
}
