@import co.caio.tablier.model.*
@import co.caio.tablier.view.layout

@args (SiteInfo site, RecipeInfo recipe)

@layout.template(site) -> {
<section class="section" id="recipe">
  <div class="columns is-centered is-multiline">

    <div class="column is-5 has-text-centered">
      @if (site.isUnstable()) {
      <div class="notification is-warning">
        <p>We are experiencing performance degradation due to unexpectedly high traffic.<br>The search functionality has been <em>temporarily</em> disabled. Please try again in a few minutes.</p>
      </div>
      }
      <div class="notification">
        The following information is cached and possibly outdated. Please <a href="@recipe.crawlUrl()" rel="noopener noreferrer">check the source</a> for pictures, author's notes and maybe better formatting.
      </div>
    </div>
    <div class="column is-full"></div>

    <div class="column is-half">
      <p class="title">@recipe.name()</p>
      <p class="subtitle">@recipe.siteName()</p>
      <div class="content">
        <h3>Ingredients <small>(@recipe.numIngredients())</small></h3>
        <ul>
          @for (ingredient: recipe.ingredients()) {
          <li>@ingredient</li>
          }
        </ul>

        <h3>Metadata</h3>
        <p class="is-clipped"><strong>Source</strong>: @recipe.crawlUrl()</p>

        @if (recipe.hasNutritionData()) {
        <h4>Nutrition Facts</h4>
        <table>
          <tbody>
            @if (recipe.calories().isPresent()) {
            <tr>
              <th>Calories</th>
              <td>@recipe.calories().getAsInt() kcal</td>
            </tr>
            }
            @if (recipe.proteinContent().isPresent()) {
            <tr>
              <th>Protein</th>
              <td>@String.format("%.2f", recipe.proteinContent().getAsDouble()) g</td>
            </tr>
            }
            @if (recipe.fatContent().isPresent()) {
            <tr>
              <th>Fat</th>
              <td>@String.format("%.2f", recipe.fatContent().getAsDouble()) g</td>
            </tr>
            }
            @if (recipe.carbohydrateContent().isPresent()) {
            <tr>
              <th>Carbohydrate</th>
              <td>@String.format("%.2f", recipe.carbohydrateContent().getAsDouble()) g</td>
            </tr>
            }
          </tbody>
        </table>
        <br>
        }

        @if (recipe.hasDurationData()) {
        <h4>Duration</h4>
        <table>
          <tbody>
            @if (recipe.prepTime().isPresent()) {
            <tr>
              <th>Preparation Time</th>
              <td>@recipe.prepTime().getAsInt() minutes</td>
            </tr>
            }
            @if (recipe.cookTime().isPresent()) {
            <tr>
              <th>Cook Time</th>
              <td>@recipe.cookTime().getAsInt() minutes</td>
            </tr>
            }
            @if (recipe.totalTime().isPresent()) {
            <tr>
              <th>Total Time</th>
              <td>@recipe.totalTime().getAsInt() minutes</td>
            </tr>
            }
          </tbody>
        </table>
        <br>
        }


      </div>
    </div>

    <div class="column is-full has-text-centered">
      <a class="button is-primary" href="@recipe.crawlUrl()" rel="noopener noreferrer">Visit Original</a>
    </div>

  </div>
</section>
}
