@import co.caio.tablier.model.SiteInfo
@import co.caio.tablier.model.RecipeInfo

@args (SiteInfo site, RecipeInfo recipe, int position)

<article class="media">
  <div class="media-content" id="recipe-@position">
    <div class="content">
      <p class="title is-size-5" style="margin-bottom: 0.25rem;"><a href="@recipe.crawlUrl()" title="@recipe.name()">@recipe.name()</a></p>
      <p class="subtitle is-size-6" style="margin-top: 0; margin-bottom: 0.25rem;">@recipe.siteName()</p>
      <ul class="is-marginless">
        <li class="recipe-meta-item is-size-7">
          <svg class="icon"><use xlink:href="#icon-ingredients"></use></svg> @recipe.numIngredients()
        </li>

        @if (recipe.calories().isPresent()) {
        <li class="recipe-meta-item is-size-7">
          <svg class="icon"><use xlink:href="#icon-calories"></use></svg> @recipe.calories().getAsInt()
        </li>
        }

        @if (recipe.totalTime().isPresent()) {
        <li class="recipe-meta-item is-size-7">
          <svg class="icon"><use xlink:href="#icon-time"></use></svg> @recipe.totalTime().getAsInt() min
        </li>
        }

        <li class="recipe-meta-item is-size-7">
          <a class="button is-white is-small has-text-link" href="/recipe/@recipe.slug()#recipe">More Info</a>
        </li>

      </ul>
    </div>
  </div>
</article>
