@import co.caio.tablier.model.*
@import co.caio.tablier.view.layout

@args (SiteInfo site, RecipeInfo recipe)

@layout.template(site) -> {
<section class="section" id="recipe">
  <div class="columns is-centered is-multiline">

    <div class="column is-5 has-text-centered">
      @if (site.isUnstable()) {
      <div class="notification is-warning">
        <p>We are experiencing performance degradation due to unexpectedly high traffic.<br>The search functionality has been <em>temporarily</em> disabled. Please try again in a few minutes.</p>
      </div>
      }
      <div class="notification">
        The following information is cached and possibly outdated. Please <a href="@recipe.goUrl()">check the source</a> for pictures and author's notes. If you notice something is off, <a href="mailto:bugs@@gula.recipes?subject=[BUG]%20@recipe.infoUrl()">let us know</a> and we'll fix it as soon as possible.
      </div>
    </div>
    <div class="column is-full"></div>

    <div class="column is-half">
      <p class="title">@recipe.name()</p>
      <p>Source: @recipe.crawlUrl()</p>
      @if (recipe.calories().isPresent()) {
      <p>Calories: @recipe.calories().getAsInt() kcal</p>
      }
      @if (recipe.fatContent().isPresent()) {
      <p>Fat: @recipe.fatContent().getAsDouble() g</p>
      }
      @if (recipe.carbohydrateContent().isPresent()) {
      <p>Carbs: @recipe.carbohydrateContent().getAsDouble() g</p>
      }
      @if (recipe.proteinContent().isPresent()) {
      <p>Protein: @recipe.proteinContent().getAsDouble() g</p>
      }
      @if (recipe.prepTime().isPresent()) {
      <p>Prep Time: @recipe.prepTime().getAsInt() minutes</p>
      }
      @if (recipe.cookTime().isPresent()) {
      <p>Cook Time: @recipe.cookTime().getAsInt() minutes</p>
      }
      @if (recipe.totalTime().isPresent()) {
      <p>Total Time: @recipe.totalTime().getAsInt() minutes</p>
      }
      <br>
      <div class="content">
        <h3>Ingredients <small>(@recipe.numIngredients())</small></h3>
        <ul>
          @for (ingredient: recipe.ingredients()) {
          <li>@ingredient</li>
          }
        </ul>
      </div>
    </div>

    <div class="column is-full has-text-centered">
      <a class="button is-primary" href="@recipe.goUrl()">Visit Original</a>
    </div>

  </div>
</section>
}
