@import co.caio.tablier.model.SiteInfo
@import co.caio.tablier.model.RecipeInfo

@args (SiteInfo site, RecipeInfo recipe, int position)

<div class="box">
  <article class="media">
    <div class="media-content" id="recipe-@position">
      <div class="content">
        <p class="is-marginless"><strong><a href="@recipe.crawlUrl()" title="@recipe.name()">@recipe.name()</a></strong> <small>@recipe.siteName()</small>
        </p>
        <ul class="is-marginless">
          <li class="recipe-meta-item is-size-7">
            <svg class="icon"><use xlink:href="#icon-ingredients"></use></svg> @recipe.numIngredients()
          </li>

          @if (recipe.calories().isPresent()) {
          <li class="recipe-meta-item is-size-7">
            <svg class="icon"><use xlink:href="#icon-calories"></use></svg> @recipe.calories().getAsInt()
          </li>
          }

          @if (recipe.totalTime().isPresent()) {
          <li class="recipe-meta-item is-size-7">
            <svg class="icon"><use xlink:href="#icon-time"></use></svg> @recipe.totalTime().getAsInt() min
          </li>
          }

          <li class="recipe-meta-item is-size-7">
            <a class="button is-white is-small has-text-link" href="/recipe/@recipe.slug()">More Info</a>
          </li>

        </ul>
      </div>
    </div>
  </article>
</div>
