@import co.caio.tablier.model.*
@import co.caio.tablier.view.svg
@import co.caio.tablier.view.layout
@import co.caio.tablier.view.recipecard

@args (SiteInfo site, SearchResultsInfo sr)

@layout.template(site) -> {

@svg.template()

<section class="section" id="results">
  <div class="columns is-multiline is-centered">
    <div class="column is-5">
      <div class="notification content @if (sr.numMatching() == 0) { is-danger }">
        Your search for <strong>@site.searchValue()</strong>
        @if (sr.numAppliedFilters() == 1) {
        with <em>one</em> filter applied
        } else if (sr.numAppliedFilters() > 1) {
        with <em>@sr.numAppliedFilters()</em> filters applied
        }
        has matched @sr.numMatching() @if (sr.numMatching() == 1) { recipe } else { recipes } (Out of @sr.numRecipes()). @if (sr.numMatching() > 0) { Displaying results from @sr.paginationStart() to @sr.paginationEnd(). } else if (sr.numAppliedFilters() > 0) { Try deselecting filters and/or changing your query. } else { Try changing your query. }
      </div>
    </div>
    <div class="column is-full"></div>

    <div class="column is-two-fifths">
      <div class="content">
        @for ((i, ri): sr.recipes()) {
        @recipecard.template(site, ri, i.index() + sr.paginationStart())
        }
        @if (sr.numMatching() == 0) {
        <p>Nothing to show here :(</p>
        } else {
        <nav class="pagination mt-150" role="navigation">
          <a class="pagination-previous" @if (site.isUnstable() || sr.previousPageHref().isEmpty()) { disabled } else { href="@sr.previousPageHref()#results" }>Previous page</a>
          <a class="pagination-next" @if (site.isUnstable() || sr.nextPageHref().isEmpty()) { disabled } else { href="@sr.nextPageHref()#results" }>Next page</a>
          <ul class="pagination-list"></ul>
        </nav>
        }
      </div>
    </div>
    <div class="column is-narrow" id="sidebar">
      @sidebar.template(site, sr.sidebar())
    </div>
  </div>
</section>
}
