@import co.caio.tablier.model.*
@import co.caio.tablier.view.layout
@import co.caio.tablier.view.recipecard

@args (SiteInfo site, PageInfo page, SearchFormInfo searchForm, SearchResultsInfo sr)

@layout.template(site, page, searchForm) -> {
<section class="section" id="results">
  <div class="columns is-multiline is-centered">
    @if (site.isUnstable()) {
    <div class="column is-full has-text-centered">
      @if (site.isUnstable()) {
      <div class="notification is-warning">
        <p>We are experiencing performance degradation due to unexpectedly high traffic.<br>The search functionality has been <em>temporarily</em> disabled. Please try again in a few minutes.</p>
      </div>
      }
    </div>
    }
    <div class="column is-5 has-text-justified">
      <div class="notification content">
        Your search for <strong>@searchForm.value()</strong>
        @if (sr.numAppliedFilters() == 1) {
        with <em>one</em> filter applied
        } else if (sr.numAppliedFilters() > 1) {
        with <em>@sr.numAppliedFilters()</em> filters applied
        }
        has matched @sr.numMatching() recipe(s). Displaying results from @sr.paginationStart() to @sr.paginationEnd().
      </div>
    </div>
    <div class="column is-full"></div>

    <div class="column is-two-fifths">
      <div class="content">
        @for ((i, ri): sr.recipes()) {
        @recipecard.template(site, ri, i.index() + sr.paginationStart())
        }
        <nav class="pagination" role="navigation" style="margin-top:1.5rem;">
          <a class="pagination-previous" @if (site.isUnstable() || sr.previousPageHref().isEmpty()) { disabled } else { href="@sr.previousPageHref()" }>Previous page</a>
          <a class="pagination-next" @if (site.isUnstable() || sr.nextPageHref().isEmpty()) { disabled } else { href="@sr.nextPageHref()" }>Next page</a>
          <ul class="pagination-list"></ul>
        </nav>
      </div>
    </div>
    <div class="column is-one-quarter">
      @sidebar.template(site, page, sr.sidebar())
    </div>
  </div>
</section>
}
