@import co.caio.tablier.model.SiteInfo

@args (SiteInfo site)

<h1 class="title">
  <a href="/">gula.recipes</a>
</h1>
<h2 class="subtitle">
  Over a million delicious recipes, zero ads.
</h2>
<form action="/search?#results" method="get">
  <div class="field has-addons has-addons-centered">
    <div class="control">
      <input class="input" @if (site.isUnstable()) { disabled } type="search" name="q" @if (site.searchIsAutoFocus()) { autofocus } placeholder="Ingredients, diets, brands, etc." value="@site.searchValue()">
    </div>
    <div class="control">
      <button class="button is-primary" @if (site.isUnstable()) { disabled }>Search</button>
    </div>
  </div>
</form>
