@import co.caio.tablier.model.*
@import co.caio.tablier.view.base

@args (SiteInfo site, PageInfo page, SidebarInfo sidebar)

@base.template(site, page) -> {

@for (filter : sidebar.filters()) {
<div class="filter-group">
  @filter.name():
  <ul>
    @for (option : filter.options()) {
    <li>
      @if (site.isUnstable()) {
      <a class="button is-link is-inverted" disabled href="#">@option.name() @if (filter.showCounts()) { (@option.count()) }</a>
      } else {
      <a class="button is-link is-inverted" href="@option.href()">@option.name() @if (filter.showCounts()) { (@option.count()) }</a>
      }
    </li>
    }
  </ul>
</div>
}

}
