@import co.caio.tablier.model.*
@import co.caio.tablier.view.svg
@import co.caio.tablier.view.layout
@import co.caio.tablier.view.recipecard

@args (SiteInfo site, SimilarityInfo sim)

@layout.template(site) -> {

@svg.template()

<section class="section" id="results">
  <div class="columns is-multiline is-centered">
    <div class="column is-5">
      <div class="notification content">
        Showing the top <em>@sim.similar().size()</em> recipes similar to <a href="@sim.recipe().infoUrl()">@sim.recipe().name()</a>,
        from <em>@sim.recipe().siteName()</em>.
      </div>
    </div>
    <div class="column is-full"></div>

    <div class="column is-two-fifths">

      <div class="content">
        @for ((i, ri): sim.similar()) {
        @recipecard.template(site, ri, i.index() + 1)
        }
      </div>

    </div>
  </div>
</section>
}
