@import co.caio.tablier.model.*
@import co.caio.tablier.view.base
@import co.caio.tablier.view.searchform

@args (SiteInfo site, PageInfo page, SearchFormInfo searchForm)

@base.template(site, page) -> {
<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered" id="try_again">
      <h1 class="title">
        gula.recipes
      </h1>
      <h2 class="subtitle">
        Over a million delicious recipes, zero ads.
      </h2>
      @searchform.template(site, searchForm)
    </div>
  </div>
</section>

<section class="section" id="results">
  <div class="columns is-multiline is-centered">
    <div class="column is-full">
      <div class="container has-text-centered">
        <h1 class="title">
          Couldn't find any recipe matching your search :(
        </h1>
        <h2 class="subtitle">
          Try changing you query
        </h2>
      </div>
    </div>
  </div>
</section>
}
