<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p><strong><a href="{{ crawlUrl }}" title="{{ name }}">{{ name }}</a></strong> <small>{{ siteName }}</small>
                {{#description}}
                <br>{{ . }}
                {{/description}}
                </p>
            </div>
            <div class="level is-mobile">
                <div class="level-left">
                </div>
                <div class="level-right">
                    {{#numIngredients}}
                    <p class="level-item is-size-7">
                        {{ . }} ingredients
                    </p>
                    {{/numIngredients}}

                    {{#calories}}
                    <p class="level-item is-size-7">
                        {{ . }} calories
                    </p>
                    {{/calories}}

                    {{#totalTime}}
                    <p class="level-item is-size-7">
                        {{ . }} total time
                    </p>
                    {{/totalTime}}

                </div>
            </div>
        </div>
    </article>
</div>
