<form action="/search?#results" method="get">
    <div class="field has-addons has-addons-centered">
        <div class="control">
            <input class="input" type="search" name="q" {{^search_no_focus}}autofocus{{/search_no_focus}} placeholder="{{ search_placeholder }}" {{#search_value}}value="{{ . }}"{{/search_value}}>
        </div>
        <div class="control">
            <button class="button is-primary">
                {{ search_text }}
            </button>
        </div>
    </div>
</form>
